@using Web.Areas.Admin.ViewModels.Statistic;
@model StatisticIndexVM;


<h4>Statistics </h4>
<div>
    <a asp-action="create" asp-controller="statistic" asp-area="admin" class="btn btn-outline-success mb-3">Create</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Quantity</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var question in Model.Statistics)
            {
                <tr>
                    <td>@question.Id</td>
                    <td>@question.Title</td>
                    <td>@question.Quantity</td>
                    <td>@question.CreatedAt</td>
                    <td>
                        @{
                            if (@question.ModifiedAt.ToString() == "01.01.0001 00:00:00")
                            {
                                <p>Non Modified</p>
                            }
                            else
                            {
                                @question.ModifiedAt
                            }
                        }
                    </td>
                    <td>
                        <form method="post" class="d-flex gap-4">
                            <a asp-action="update" asp-controller="statistic" asp-area="admin" asp-route-id="@question.Id" class="btn btn-outline-warning">Update</a>
                            <button type="submit" class="btn btn-outline-danger mx-2" asp-action="delete" asp-controller="statistic" asp-area="admin" asp-route-id="@question.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>





