@using Web.ViewModels.Shop;
@model ShopIndexVM;
@{
    ViewBag.Title = "Shopping";
}
<main>
    <!-- main-frame section starts -->
    <section class="main-frame no-select" style="background-image: url(assets/images/shop-page-title.jpg);">
        <div class="main-frame-title">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="main-frame-title-text">
                            Shop
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-frame-breadcrumb">
                            Home / Products
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main-frame section ends -->
    <!-- products section starts -->
    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <div class="search-product">
                                <form asp-action="index" asp-controller="shop" method="get">
                                    <input asp-for="@Model.Name" type="search" id="search-product" placeholder="Search products"
                                           class="search-product-input">
                                    <button type="submit" style="border:none;background:none"><img src="assets/images/search-product-icon.png" id="product-search-btn" class="search-product-icon"></button>
                                </form>

                            </div>
                        </div>
                        <div class="categories">
                            <h4>Product categories</h4>
                            <ul>
                                <form method="get" asp-action="index" asp-controller="shop">
                                    @{
                                        foreach (var category in Model.Categories)
                                        {
                                                <li><button style="border:none;background:none"><a class="category" data-id="@category.Id" id="@category.Id" asp-route-CategoryId="@category.Id">@category.Title (@category.Products.Count())</a></button> </li>
                                        }
                                    }
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 products-side">
                    <div class="row" id="products">
                        @{
                            foreach (var product in Model.Products)
                            {
                                        <div class="col-lg-4 col-md-6 pb-5">
                                            <div class="productt" id="@product.Id">
                                                <div class="product-image"
                                                 style="background-image: url(assets/images/@product.Photoname);">
                                                    <div class="basket-wishlist-compare d-flex justify-content-center">
                                                        <div data-id="@product.Id" class="add-basket text-center addToCardBtn">
                                                            <i class="fas fa-shopping-basket "></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-inf">
                                                    <h5 class="productt-name">@product.Title</h5>
                                                    <p><span>$</span><span class="price">@product.Price</span></p>
                                                </div>
                                            </div>
                                        </div>
                            }
                        }
                    </div>
                    <div class="pagination d-flex justify-content-center">
                        @{
                            var prevPage = Model.Page - 1;
                            if (1 < Model.Page)
                            {
                                        <a asp-action="index" asp-controller="shop" asp-route-name="@Model.Name" asp-route-page="@prevPage" class="pagination-element"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
                            }

                            for (var i = 1; i <= Model.PageCount; i++)
                            {
                                        <a asp-action="index" asp-controller="shop" asp-route-name="@Model.Name" asp-route-page="@i" class="@(Model.Page==i?"pagination-element pagination-active":"pagination-element ")">@i</a>
                            }

                            var nextPage = Model.Page + 1;
                            if (Model.PageCount != Model.Page)
                            {
                                        <a asp-action="index" asp-controller="shop" asp-route-page="@nextPage" asp-route-name="@Model.Name" class="pagination-element"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- products section ends -->
</main>