@using Web.Areas.Admin.ViewModels.About;
@model AboutDetailsVM;

<div>
    <h3>About Us Details</h3>
</div>
<div class="col-4 mx-auto">
    <h3>Sign Photo:</h3>
    <img style="width:250px;height:170px;object-fit:contain" class="img-thumbnail" src="~/assets/images/@Model.IconPhoto" />
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Header</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Header</td>
            <td>@Html.Raw(Model.Title)</td>
            <td>@Html.Raw(Model.Description)</td>

            <td>@Model.CreatedAt.ToLocalTime().ToUniversalTime()</td>
            <td>
                @{
                    if (@Model.ModifiedAt.ToLocalTime().ToString() == "01.01.0001 04:00:00")
                    {
                        <span>Non modified</span>
                    }
                    else
                    {
                        @Model.ModifiedAt.ToLocalTime().ToUniversalTime()
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Photo</th>
            <th scope="col">Order</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var photo in Model.Photos)
            {
                <tr>
                    <th scope="row">@photo.Id</th>
                    <td> <img style="width:100px;height:120px;object-fit:contain" class="img-thumbnail" src="~/assets/images/@photo.PhotoName" /></td>
                    <td>@photo.Order</td>

                    <td>@photo.CreatedAt.ToLocalTime().ToUniversalTime()</td>
                    <td>
                        @{
                            if (photo.ModifiedAt.ToLocalTime().ToString() == "01.01.0001 04:00:00")
                            {
                                <span>Non modified</span>
                            }
                            else
                            {
                                @photo.ModifiedAt.ToLocalTime().ToUniversalTime()
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<div class="mb-3"><a class="btn btn-outline-secondary" asp-action="index" asp-controller="about" asp-area="admin">Cancel</a></div>


